
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body>

    <div class="table-responsive" id="FraudDet">
        <table class="table">
            <tr>
                <th>CarrNUmber</th>
                <th>TransactionId</th>
                <th>Transaction Date</th>
                <th>Validate</th>
                <th>Comments</th>
            </tr>
            <tbody>

            </tbody>

        </table>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Validate Customer Response</h4>
                </div>
                <div class="modal-body">
                    <p>Customer response for the corresponding tranaction</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default yes" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default no" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>


</body>

<script type="text/javascript">
    var tot = 0;
    var processed = 0;
    var remaining = 0;
    var UniqueId = 0;
    $(document).ready(function () {
      
       
        SendRequest();
        function SendRequest() {
            
            $.ajax({
                type: "GET",
                url: "/Home/response/?id=" + UniqueId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {                
                    var rows = '';
                   
                    $.each(response, function (i, response) {
                        rows += "<tr><td>" + response.CardNumber + "</td><td>" + response.TransactionId + "</td><td>" + response.TransDt+"</td><td><button type='button' class='btn btn-warning' id= 'Delete" + response.TransactionId + "'  onclick=\"ValidateRecord('" + response.TransactionId + "','" + response.CardNumber + "')\">Warning</button></td><td class='cmts' id=" + 'cmts' + response.TransactionId + "></td></tr>";
                        tot = tot+1;
                        UniqueId = response.UniqueId;
                    });
                    document.getElementById("TotalRecords").innerHTML = tot;
                    $('#FraudDet tr:last').after(rows);        
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                complete: function () {
                   
                    setInterval(SendRequest, 60000); 
                }
            });
        }
    });

    $(".yes").click(function () {
        var transId = $(this).attr('value');
        $.ajax({
            type: "POST",
            url: "/Home/ProcessTransactionRecord",
            data: JSON.stringify({ 'IsFraud': 'y', 'TransactionId': transId }),
        
            contentType: "application/json; charset=utf-8",
            
            success: function (response) {
                var getId = ("cmts") + transId;
                var UpdateButtonClass = ("#Delete") + transId;
                $(UpdateButtonClass).removeAttr('class').attr('class', 'btn btn-danger disabled')
                document.getElementById(getId).innerHTML = "This is  the fraud" + transId;
               
                processed += 1;
                remaining = tot - processed;
                
                document.getElementById("Processed").innerHTML = processed;
                document.getElementById("Remaining").innerHTML = remaining;
              
            },
            failure: function (response) {
                console.log(response.responseText);
            },
            error: function (response) {
                console.log(response.responseText);
            }
        });
    })


    $(".no").click(function () {
        var transId = $(this).attr('value');
        $.ajax({
            type: "POST",
            url: "/Home/ProcessTransactionRecord",
            data: JSON.stringify({ 'IsFraud': 'n', 'TransactionId': transId }),

            contentType: "application/json; charset=utf-8",

            success: function (response) {
                var getId = ("cmts") + transId;
                var UpdateButtonClass = ("#Delete") + transId;
                $(UpdateButtonClass).removeAttr('class').attr('class', 'btn btn-success disabled')
                document.getElementById(getId).innerHTML = "Is not the fraud" + transId;
              
               
                processed += 1;
                remaining = tot - processed;
                
                document.getElementById("Processed").innerHTML = processed;
                document.getElementById("Remaining").innerHTML = remaining;

            },
            failure: function (response) {
                console.log(response.responseText);
            },
            error: function (response) {
                console.log(response.responseText);
            }
        });
    })

    function ValidateRecord(TransactionId, CardNumber) {
        var id = "#Delete" + TransactionId;
        $(".yes").attr('value',TransactionId);
        $(".no").attr('value', TransactionId);
       
        $("#myModal").modal();
       
    }
</script>